# Set URL for your scoped packages.
# For example package with name `@utfprfabricadesoftware` will use this URL for download
@utfprfabricadesoftware:registry=https://gitlab.com/api/v4/packages/npm/
registry="https://gitlab.com/api/v4/packages/npm"

//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}

# Project ID: 35830741 (utfpr-lib-ui-react)
//gitlab.com/api/v4/projects/35830741/packages/npm/:_authToken=${CI_JOB_TOKEN}

# Project ID: 36126046 (utfpr-tools-react)
//gitlab.com/api/v4/projects/36126046/packages/npm/:_authToken=${CI_JOB_TOKEN}